*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#cards{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
  position: absolute; 
  left: 0; 
  right: 0;
  margin:0 auto 0 auto; 
  width: 100vh;
}
.center img{
    max-width:600px;
    height:auto;
}
.card-img-top{
    max-width: 300px;
    height:200px;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin:0 auto;
}
#submit{
    margin:15px 0;
    padding: 2px 0 2px 0;
    border:1px solid rgb(193, 193, 193);
    border-radius: 10px;
}
/* PRODUTO DETALHE */

.produto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:50px;
}
.produto .produto-img img{
    width: 100%;
    max-width: 600px;
    height: auto;
}
.produto .produto-texto p:nth-child(2){
    margin:20px 0 0 0;
}
.produto .produto-texto h4{
    margin:30px 0 0 0;
}
.produto .produto-texto .produto-comprar{
    margin: 30px 0 0 0;
}
.produto .produto-texto .produto-comprar a{
    padding:10px 20px;
    border-radius: 0;
}

@media screen and (max-width:768px){
    .produto{
        display: block;
        margin:0 auto;
        text-align: center;
    }
    .produto .produto-texto{
        margin:15px 0;
    }
    .produto .produto-texto p:nth-child(2),
    .produto .produto-texto h4{
        margin:10px 0 10px 0;
    }
    .produto .produto-comprar a{
        width: 100%;
    }
}